In [88]:
import pandas as pd
import numpy as np

### Title Basics

In [89]:
basics = pd.read_csv('title.basics.tsv', sep='\t', dtype={'startYear': str})
basics = basics.drop(columns=['originalTitle', 'endYear', 'genres'])
len(basics)

6564302

#### Filter out entries that aren't movies

In [90]:
is_movie = basics['titleType'] == 'movie'
basics = basics[is_movie]
len(basics)

544128

#### Filter out adult titles

In [91]:
not_adult = basics['isAdult'] == 0
basics = basics[not_adult]
basics = basics.drop(columns=['isAdult'])
len(basics)

535418

#### Filter out movies that do not have a start year

In [92]:
has_start_year = basics['startYear'] != '\\N'
basics = basics[has_start_year]
len(basics)

473339

In [ ]:
#basics

### Principals

In [93]:
principals = pd.read_csv('title.principals.tsv', sep='\t', dtype={'types': str})
len(principals)

37930494

#### Only actors or actresses, not director, composer, etc.

In [94]:
is_actor = (principals['category'] == 'actor') | (principals['category'] == 'actress')
principals = principals[is_actor]
principals = principals.drop(columns=['category'])
len(principals)

15388567

#### Remove if they played no characters

In [95]:
 principals = principals[principals['characters'] != '\\N']
 len(principals)

12601274

### Name Basics

In [96]:
names = pd.read_csv('name.basics.tsv', sep='\t')

In [97]:
len(names)

9901916

#### Remove names without a birth year

In [98]:
names = names[names['birthYear'] != '\\N']
len(names)

496535

#### Remove names without a primary profession

In [99]:
names = names.dropna(subset=['primaryProfession'])
len(names)

438537

#### Remove Names without any known-for titles

In [100]:
names = names[names['knownForTitles'] != '\\N']
len(names)

436811

#### Drop duplicate names
This will result in removing actors erroneously. For example, if there was a Ben Smith born in 1928 who starred in 2 movies and another Ben Smith born in 1945 who starred in 6 movies, one of those Ben Smiths will be removed from the data set.

This is good enough for now.

In [101]:
names = names.drop_duplicates(subset=['primaryName'])
len(names)

425575

### Results

In [102]:
merged = basics.merge(principals, on=['tconst'])
merged = merged.merge(names, on=['nconst'])
merged.columns

Index(['tconst', 'titleType', 'primaryTitle', 'startYear', 'runtimeMinutes',
       'ordering', 'nconst', 'job', 'characters', 'primaryName', 'birthYear',
       'deathYear', 'primaryProfession', 'knownForTitles'],
      dtype='object')

In [103]:
results = pd.DataFrame(
    {'TitleId': merged['tconst'],
     'NameId': merged['nconst'],
     'Movie Title': merged['primaryTitle'],
     'Year': merged['startYear'],
     'Actor': merged['primaryName'],
     'Characters': merged['characters']})
len(results)

644489

In [104]:
len(pd.unique(results['Actor']))

114738

### Things To Do With The Data

In [105]:
avengers_movie = (results['Movie Title'] == 'The Avengers') & (results['Year'] == '2012')
avengers_principal_actors = results[avengers_movie]
avengers_principal_actors

,TitleId,NameId,Movie Title,Year,Actor,Characters
387153,tt0848228,nm0000375,The Avengers,2012,Robert Downey Jr.,"[""Tony Stark"",""Iron Man""]"
442975,tt0848228,nm0424060,The Avengers,2012,Scarlett Johansson,"[""Natasha Romanoff"",""Black Widow""]"
518970,tt0848228,nm0719637,The Avengers,2012,Jeremy Renner,"[""Clint Barton"",""Hawkeye""]"

In [106]:
johnny_depp = results['Actor'] == 'Johnny Depp'
johnny_depp_movies = results[johnny_depp]
johnny_depp_movies = johnny_depp_movies.sort_values(by=['Year'])
johnny_depp_movies

,TitleId,NameId,Movie Title,Year,Actor,Characters
367960,tt0087800,nm0000136,A Nightmare on Elm Street,1984,Johnny Depp,"[""Glen Lantz""]"
367961,tt0089839,nm0000136,Private Resort,1985,Johnny Depp,"[""Jack""]"
367962,tt0099329,nm0000136,Cry-Baby,1990,Johnny Depp,"[""Cry-Baby""]"
367963,tt0099487,nm0000136,Edward Scissorhands,1990,Johnny Depp,"[""Edward Scissorhands""]"
367964,tt0106307,nm0000136,Arizona Dream,1993,Johnny Depp,"[""Axel Blackmar""]"
367965,tt0106387,nm0000136,Benny & Joon,1993,Johnny Depp,"[""Sam""]"
367966,tt0108550,nm0000136,What's Eating Gilbert Grape,1993,Johnny Depp,"[""Gilbert Grape""]"
367967,tt0109707,nm0000136,Ed Wood,1994,Johnny Depp,"[""Ed Wood""]"
367969,tt0112883,nm0000136,Don Juan DeMarco,1994,Johnny Depp,"[""Don Juan DeMarco""]"
367968,tt0112817,nm0000136,Dead Man,1995,Johnny Depp,"[""William Blake""]"
367970,tt0113972,nm0000136,Nick of Time,1995,Johnny Depp,"[""Gene Watson""]"
367972,tt0119008,nm0000136,Donnie Brasco,1997,Johnny Depp,"[""Donnie""]"
367971,tt0118768,nm0000136,The Brave,1997,Johnny Depp,"[""Raphael""]"
367973,tt0120669,nm0000136,Fear and Loathing in Las Vegas,1998,Johnny Depp,"[""Raoul Duke""]"
367976,tt0138304,nm0000136,The Astronaut's Wife,1999,Johnny Depp,"[""Commander Spencer Armacost""]"
367977,tt0142688,nm0000136,The Ninth Gate,1999,Johnny Depp,"[""Dean Corso""]"
367978,tt0162661,nm0000136,Sleepy Hollow,1999,Johnny Depp,"[""Ichabod Crane""]"
367979,tt0181833,nm0000136,The Source: The Story of the Beats and the Bea...,1999,Johnny Depp,"[""Jack Kerouac""]"
367981,tt0247196,nm0000136,Before Night Falls,2000,Johnny Depp,"[""Bon Bon"",""Lieutenant Victor""]"
367974,tt0120681,nm0000136,From Hell,2001,Johnny Depp,"[""Inspector Frederick Abberline""]"
367980,tt0221027,nm0000136,Blow,2001,Johnny Depp,"[""George Jung""]"
367982,tt0285823,nm0000136,Once Upon a Time in Mexico,2003,Johnny Depp,"[""Sands""]"
367984,tt0325980,nm0000136,Pirates of the Caribbean: The Curse of the Bla...,2003,Johnny Depp,"[""Jack Sparrow""]"
367985,tt0363988,nm0000136,Secret Window,2004,Johnny Depp,"[""Mort Rainey""]"
367989,tt0381270,nm0000136,...And They Lived Happily Ever After,2004,Johnny Depp,"[""L'inconnu""]"
367987,tt0375920,nm0000136,The Libertine,2004,Johnny Depp,"[""Rochester""]"
367983,tt0308644,nm0000136,Finding Neverland,2004,Johnny Depp,"[""Sir James Matthew Barrie""]"
367986,tt0367594,nm0000136,Charlie and the Chocolate Factory,2005,Johnny Depp,"[""Willy Wonka""]"
367975,tt0121164,nm0000136,Corpse Bride,2005,Johnny Depp,"[""Victor Van Dort""]"
367990,tt0383574,nm0000136,Pirates of the Caribbean: Dead Man's Chest,2006,Johnny Depp,"[""Jack Sparrow""]"
367991,tt0408236,nm0000136,Sweeney Todd: The Demon Barber of Fleet Street,2007,Johnny Depp,"[""Sweeney Todd""]"
367992,tt0449088,nm0000136,Pirates of the Caribbean: At World's End,2007,Johnny Depp,"[""Jack Sparrow""]"
367995,tt1152836,nm0000136,Public Enemies,2009,Johnny Depp,"[""John Dillinger""]"
368000,tt1333667,nm0000136,When You're Strange,2009,Johnny Depp,"[""Narrator""]"
367998,tt1243957,nm0000136,The Tourist,2010,Johnny Depp,"[""Frank Tupelo""]"
367993,tt1014759,nm0000136,Alice in Wonderland,2010,Johnny Depp,"[""Mad Hatter""]"
367988,tt0376136,nm0000136,The Rum Diary,2011,Johnny Depp,"[""Kemp""]"
367996,tt1192628,nm0000136,Rango,2011,Johnny Depp,"[""Rango"",""Lars""]"
367999,tt1298650,nm0000136,Pirates of the Caribbean: On Stranger Tides,2011,Johnny Depp,"[""Jack Sparrow""]"
367994,tt1077368,nm0000136,Dark Shadows,2012,Johnny Depp,"[""Barnabas Collins""]"
367997,tt1210819,nm0000136,The Lone Ranger,2013,Johnny Depp,"[""Tonto""]"
368003,tt2209764,nm0000136,Transcendence,2014,Johnny Depp,"[""Will Caster""]"
368001,tt1355683,nm0000136,Black Mass,2015,Johnny Depp,"[""James 'Whitey' Bulger""]"
368007,tt3045616,nm0000136,Mortdecai,2015,Johnny Depp,"[""Mortdecai""]"
368005,tt2567026,nm0000136,Alice Through the Looking Glass,2016,Johnny Depp,"[""Hatter Tarrant Hightopp""]"
368008,tt3838992,nm0000136,Yoga Hosers,2016,Johnny Depp,"[""Guy Lapointe""]"
368013,tt7604980,nm0000136,Rolling Stone: Stories from the Edge,2017,Johnny Depp,"[""Hunter S. Thompson""]"
368002,tt1790809,nm0000136,Pirates of the Caribbean: Dead Men Tell No Tales,2017,Johnny Depp,"[""Captain Jack Sparrow""]"
368012,tt6865690,nm0000136,The Professor,2018,Johnny Depp,"[""Richard""]"
368004,tt2296777,nm0000136,Sherlock Gnomes,2018,Johnny Depp,"[""Sherlock Gnomes""]"
368006,tt2677722,nm0000136,City of Lies,2018,Johnny Depp,"[""Russell Poole""]"
368009,tt4123430,nm0000136,Fantastic Beasts: The Crimes of Grindelwald,2018,Johnny Depp,"[""Grindelwald""]"
368011,tt6149154,nm0000136,Waiting for the Barbarians,2019,Johnny Depp,"[""Colonel Joll""]"
368014,tt9179096,nm0000136,Minamata,2020,Johnny Depp,"[""W. Eugene Smith""]"
368010,tt4123432,nm0000136,Fantastic Beasts and Where to Find Them 3,2021,Johnny Depp,"[""Gellert Grindelwald""]"

In [107]:
#### Write the combined results to a file

In [108]:
results.to_csv('movies_and_actors.csv')