In [85]:
import pandas as pd
import numpy as np

### Title Basics

In [86]:
basics = pd.read_csv('title.basics.tsv', sep='\t', dtype={'startYear': str})
basics = basics.drop(columns=['originalTitle', 'endYear', 'genres'])
len(basics)

6564302

#### Filter out entries that aren't movies

In [87]:
is_movie = basics['titleType'] == 'movie'
basics = basics[is_movie]
len(basics)

544128

#### Filter out adult titles

In [88]:
not_adult = basics['isAdult'] == 0
basics = basics[not_adult]
basics = basics.drop(columns=['isAdult'])
len(basics)

535418

#### Filter out movies that do not have a start year

In [89]:
has_start_year = basics['startYear'] != '\\N'
basics = basics[has_start_year]
len(basics)

473339

In [90]:
#basics

### Principals

In [91]:
principals = pd.read_csv('title.principals.tsv', sep='\t', dtype={'types': str})
# principals = principals.drop(columns=['job', 'ordering'])
len(principals)

37930494

#### Only actors or actresses, not director, composer, etc.

In [92]:
is_actor = (principals['category'] == 'actor') | (principals['category'] == 'actress')
principals = principals[is_actor]
principals = principals.drop(columns=['category'])
len(principals)

15388567

In [93]:
# principals

### Name Basics

In [94]:
names = pd.read_csv('name.basics.tsv', sep='\t')
names = names.drop(columns=['primaryProfession', 'knownForTitles'])

In [95]:
 names

            nconst         primaryName birthYear deathYear
0        nm0000001        Fred Astaire      1899      1987
1        nm0000002       Lauren Bacall      1924      2014
2        nm0000003     Brigitte Bardot      1934        \N
3        nm0000004        John Belushi      1949      1982
4        nm0000005      Ingmar Bergman      1918      2007
...            ...                 ...       ...       ...
9901911  nm9993714   Romeo del Rosario        \N        \N
9901912  nm9993716       Essias Loberg        \N        \N
9901913  nm9993717  Harikrishnan Rajan        \N        \N
9901914  nm9993718         Aayush Nair        \N        \N
9901915  nm9993719          Andre Hill        \N        \N

[9901916 rows x 4 columns]

### Results

In [96]:
merged = basics.merge(principals, on=['tconst'])
merged = merged.merge(names, on=['nconst'])
merged.columns

Index(['tconst', 'titleType', 'primaryTitle', 'startYear', 'runtimeMinutes',
       'ordering', 'nconst', 'job', 'characters', 'primaryName', 'birthYear',
       'deathYear'],
      dtype='object')

In [97]:
results = pd.DataFrame(
    {'TitleId': merged['tconst'],
     'NameId': merged['nconst'],
     'Movie Title': merged['primaryTitle'],
     'Year': merged['startYear'],
     'Actor': merged['primaryName'],
     'Characters': merged['characters']})
len(results)

1601420

### Things To Do With The Data

In [98]:
avengers_movie = (results['Movie Title'] == 'The Avengers') & (results['Year'] == '2012')
avengers_principal_actors = results[avengers_movie]
avengers_principal_actors

,TitleId,NameId,Movie Title,Year,Actor,Characters
601711,tt0848228,nm0000375,The Avengers,2012,Robert Downey Jr.,"[""Tony Stark"",""Iron Man""]"
695586,tt0848228,nm0424060,The Avengers,2012,Scarlett Johansson,"[""Natasha Romanoff"",""Black Widow""]"
707615,tt0848228,nm0262635,The Avengers,2012,Chris Evans,"[""Steve Rogers"",""Captain America""]"
938561,tt0848228,nm0719637,The Avengers,2012,Jeremy Renner,"[""Clint Barton"",""Hawkeye""]"

In [99]:
johnny_depp = results['Actor'] == 'Johnny Depp'
johnny_depp_movies = results[johnny_depp]
johnny_depp_movies = johnny_depp_movies.sort_values(by=['Year'])
johnny_depp_movies

,TitleId,NameId,Movie Title,Year,Actor,Characters
567730,tt0087800,nm0000136,A Nightmare on Elm Street,1984,Johnny Depp,"[""Glen Lantz""]"
567731,tt0089839,nm0000136,Private Resort,1985,Johnny Depp,"[""Jack""]"
567732,tt0099329,nm0000136,Cry-Baby,1990,Johnny Depp,"[""Cry-Baby""]"
567733,tt0099487,nm0000136,Edward Scissorhands,1990,Johnny Depp,"[""Edward Scissorhands""]"
567734,tt0106307,nm0000136,Arizona Dream,1993,Johnny Depp,"[""Axel Blackmar""]"
567735,tt0106387,nm0000136,Benny & Joon,1993,Johnny Depp,"[""Sam""]"
567736,tt0108550,nm0000136,What's Eating Gilbert Grape,1993,Johnny Depp,"[""Gilbert Grape""]"
567737,tt0109707,nm0000136,Ed Wood,1994,Johnny Depp,"[""Ed Wood""]"
567739,tt0112883,nm0000136,Don Juan DeMarco,1994,Johnny Depp,"[""Don Juan DeMarco""]"
567738,tt0112817,nm0000136,Dead Man,1995,Johnny Depp,"[""William Blake""]"
567740,tt0113972,nm0000136,Nick of Time,1995,Johnny Depp,"[""Gene Watson""]"
567742,tt0119008,nm0000136,Donnie Brasco,1997,Johnny Depp,"[""Donnie""]"
567741,tt0118768,nm0000136,The Brave,1997,Johnny Depp,"[""Raphael""]"
567743,tt0120669,nm0000136,Fear and Loathing in Las Vegas,1998,Johnny Depp,"[""Raoul Duke""]"
567746,tt0138304,nm0000136,The Astronaut's Wife,1999,Johnny Depp,"[""Commander Spencer Armacost""]"
567747,tt0142688,nm0000136,The Ninth Gate,1999,Johnny Depp,"[""Dean Corso""]"
567748,tt0162661,nm0000136,Sleepy Hollow,1999,Johnny Depp,"[""Ichabod Crane""]"
567749,tt0181833,nm0000136,The Source: The Story of the Beats and the Bea...,1999,Johnny Depp,"[""Jack Kerouac""]"
567751,tt0247196,nm0000136,Before Night Falls,2000,Johnny Depp,"[""Bon Bon"",""Lieutenant Victor""]"
567744,tt0120681,nm0000136,From Hell,2001,Johnny Depp,"[""Inspector Frederick Abberline""]"
567750,tt0221027,nm0000136,Blow,2001,Johnny Depp,"[""George Jung""]"
567752,tt0285823,nm0000136,Once Upon a Time in Mexico,2003,Johnny Depp,"[""Sands""]"
567754,tt0325980,nm0000136,Pirates of the Caribbean: The Curse of the Bla...,2003,Johnny Depp,"[""Jack Sparrow""]"
567755,tt0363988,nm0000136,Secret Window,2004,Johnny Depp,"[""Mort Rainey""]"
567759,tt0381270,nm0000136,...And They Lived Happily Ever After,2004,Johnny Depp,"[""L'inconnu""]"
567757,tt0375920,nm0000136,The Libertine,2004,Johnny Depp,"[""Rochester""]"
567753,tt0308644,nm0000136,Finding Neverland,2004,Johnny Depp,"[""Sir James Matthew Barrie""]"
567756,tt0367594,nm0000136,Charlie and the Chocolate Factory,2005,Johnny Depp,"[""Willy Wonka""]"
567745,tt0121164,nm0000136,Corpse Bride,2005,Johnny Depp,"[""Victor Van Dort""]"
567760,tt0383574,nm0000136,Pirates of the Caribbean: Dead Man's Chest,2006,Johnny Depp,"[""Jack Sparrow""]"
567761,tt0408236,nm0000136,Sweeney Todd: The Demon Barber of Fleet Street,2007,Johnny Depp,"[""Sweeney Todd""]"
567762,tt0449088,nm0000136,Pirates of the Caribbean: At World's End,2007,Johnny Depp,"[""Jack Sparrow""]"
567765,tt1152836,nm0000136,Public Enemies,2009,Johnny Depp,"[""John Dillinger""]"
567770,tt1333667,nm0000136,When You're Strange,2009,Johnny Depp,"[""Narrator""]"
567768,tt1243957,nm0000136,The Tourist,2010,Johnny Depp,"[""Frank Tupelo""]"
567763,tt1014759,nm0000136,Alice in Wonderland,2010,Johnny Depp,"[""Mad Hatter""]"
567758,tt0376136,nm0000136,The Rum Diary,2011,Johnny Depp,"[""Kemp""]"
567766,tt1192628,nm0000136,Rango,2011,Johnny Depp,"[""Rango"",""Lars""]"
567769,tt1298650,nm0000136,Pirates of the Caribbean: On Stranger Tides,2011,Johnny Depp,"[""Jack Sparrow""]"
567764,tt1077368,nm0000136,Dark Shadows,2012,Johnny Depp,"[""Barnabas Collins""]"
567767,tt1210819,nm0000136,The Lone Ranger,2013,Johnny Depp,"[""Tonto""]"
567773,tt2209764,nm0000136,Transcendence,2014,Johnny Depp,"[""Will Caster""]"
567771,tt1355683,nm0000136,Black Mass,2015,Johnny Depp,"[""James 'Whitey' Bulger""]"
567777,tt3045616,nm0000136,Mortdecai,2015,Johnny Depp,"[""Mortdecai""]"
567775,tt2567026,nm0000136,Alice Through the Looking Glass,2016,Johnny Depp,"[""Hatter Tarrant Hightopp""]"
567778,tt3838992,nm0000136,Yoga Hosers,2016,Johnny Depp,"[""Guy Lapointe""]"
567783,tt7604980,nm0000136,Rolling Stone: Stories from the Edge,2017,Johnny Depp,"[""Hunter S. Thompson""]"
567772,tt1790809,nm0000136,Pirates of the Caribbean: Dead Men Tell No Tales,2017,Johnny Depp,"[""Captain Jack Sparrow""]"
567782,tt6865690,nm0000136,The Professor,2018,Johnny Depp,"[""Richard""]"
567774,tt2296777,nm0000136,Sherlock Gnomes,2018,Johnny Depp,"[""Sherlock Gnomes""]"
567776,tt2677722,nm0000136,City of Lies,2018,Johnny Depp,"[""Russell Poole""]"
567779,tt4123430,nm0000136,Fantastic Beasts: The Crimes of Grindelwald,2018,Johnny Depp,"[""Grindelwald""]"
567781,tt6149154,nm0000136,Waiting for the Barbarians,2019,Johnny Depp,"[""Colonel Joll""]"
567784,tt9179096,nm0000136,Minamata,2020,Johnny Depp,"[""W. Eugene Smith""]"
567780,tt4123432,nm0000136,Fantastic Beasts and Where to Find Them 3,2021,Johnny Depp,"[""Gellert Grindelwald""]"